<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.BannerDAO">

    <select id="selectAll" resultType="Banner">
        select * from banner limit ${(page-1)*rows},#{rows}
    </select>

    <select id="selectCount" resultType="Integer">
        select count(*) from banner
    </select>

    <insert id="insertOne">
        insert into banner values(#{id},#{name},#{img_path},#{status},#{description},#{up_date})
    </insert>

    <update id="updateOne">
        update banner
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="img_path!=null and img_path!=''">
                img_path=#{img_path},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="up_date!=null">
                up_date=#{up_date}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteById">
        delete from banner where id=#{id}
    </delete>

    <select id="selectById" resultType="Banner">
        select * from banner where id=#{rowId}
    </select>

    <select id="selectAllBanner" resultType="Banner">
        select * from banner
    </select>
</mapper>